@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(248, 245, 245);
}

/* NAVBAR */
.nav-container {
  position: fixed;
  display: flex;
  align-items: center;
  align-content: center;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom: 0.1px solid rgb(184, 179, 179);
  z-index: 11;
}
.nav-container > div {
  width: 96%;
  margin: auto;
  height: 100%;
}
.nav-ul {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}
.nav-ul > li {
  list-style: none;
  cursor: pointer;
  text-transform: uppercase;
}
.nav-ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(18, 46, 18);
  height: 100%;
  width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
/* navlink */
.inactive {
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.5s;
}

.active {
  background-color: rgb(231, 226, 226);
  text-decoration: none;
}
/* navbar shadow on scroll */
.shadow {
  box-shadow: -2px 2px 12px 1px rgba(0, 0, 0, 0.75);
}
section {
  width: 96%;
  margin: auto;
  margin-top: 50px;
}
.section-image {
  width: 100%;
  display: block;
  height: auto;
  max-height: 400px;
}
/* CARDLIST */
.cardlist {
  margin-top: 30px;
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 40px;
}
/* CARD */
.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 0.5px solid rgb(221, 215, 215);
  height: 350px;
  transition: 0.3s;
}
.card-description {
  color: rgb(58, 14, 14);
  text-align: center;
  margin-top: 10px;
}
.card-container:hover {
  background-color: rgb(231, 226, 226);
  box-shadow: -1px 2px 24px 1px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}
.book-image {
  padding: 5px;
  height: 70%;
  width: 100%;
  display: block;
}

/* card details */
.card-details {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  height: 35px;
  /* border: 1px solid rgb(175, 165, 165); */
}
/* detail page */
.detail-container {
  width: 80%;
  margin-top: 30px;
  margin-left: 10%;
  border: 0.5px solid rgb(221, 215, 215);
}
.detail-container:hover {
  background-color: rgb(231, 226, 226);
  transition: 0.5s;
}
/* favorite and show more buttons */
.addBtn,
.removeBtn,
.showBtn {
  cursor: pointer;
  padding: 8px;
  border: 0.5px solid rgb(221, 215, 215);
  background-color: rgb(241, 248, 241);
  border-radius: 2px;
  outline: none;
  transition: 0.2s;
  height: 35px;
}
.addBtn:hover,
.showBtn:hover {
  background-color: rgb(160, 231, 160);
  border: 1px solid rgb(8, 49, 8);
  outline: none;
  border-radius: 2px;
  transition: 0.2s;
}
.removeBtn:hover {
  background-color: rgb(231, 29, 39);
  border: 1px solid rgb(73, 13, 13);
  outline: none;
  border-radius: 2px;
  transition: 0.2s;
}

.far,
.fas {
  /* margin-left: 10px; */
  padding: 0 10px;
}

.fa-star:hover {
  color: rgb(231, 29, 39);
}

/* DETAILS PAGE */
.details-page-card {
  display: flex;
}
.details-page-card img {
  display: block;
  padding: 10px;
  height: auto;
  max-height: 200px;
}
.book-details {
  /* border: 1px solid red; */
  padding: 10px;
}
p {
  margin: 10px 0;
}
@media only screen and (max-width: 500px) {
  .details-page-card {
    flex-direction: column;
  }
  .details-page-card img {
    width: 80%;
    margin: auto;
    padding-top: 20px;
  }
}

/* footer {
  position: fixed;
  bottom: 0;
} */
